@using NOSBlog.Helpers;
@{
    ViewBag.Title = "Home Page";

    //Pagination
    int currentPage = ViewBag.pagination["currentPage"];
    int maxPage = ViewBag.pagination["maxPage"];

    string isPrevDisabled = currentPage > 1 ? "" : "disabled";
    string isNextDisabled = currentPage < maxPage ? "" : "disabled";

    int prevPage = isPrevDisabled.Equals("disabled") ? 1 : currentPage - 1;
    int nextPage = isNextDisabled.Equals("disabled") ? maxPage : currentPage + 1;
}

@section styles {
    <link rel="stylesheet" href="~/Content/Css/Pages/Index.css" />
}

<div class="container">
    <h1 class="page-heading">
        <i class="fa-solid fa-newspaper"></i>
        Featured Blogs
    </h1>
    <p class="page-description">Synthesize articles written by content collectors and creators</p>

    <div class="content-body">
        <div class="row">

            <div class="col-xl-9">
                <!-- Right content -->
                @foreach (var blogItem in ViewBag.blogs)
                {
                    <div class="blog">
                        <div class="blog-header">
                            <a class="blog-user" href="/User/Info?userId=@blogItem.user_id">
                                <img class="blog-userAvatar" src="/Uploads/@blogItem.avatar" alt="User avatar" />
                                <span class="blog-userName">
                                    @blogItem.fullname
                                </span>
                                @if (blogItem.blue_tick)
                                {
                                    <span class="blog-userBlueCheck">
                                        <i class="fa-solid fa-circle-check"></i>
                                    </span>
                                }
                            </a>

                            <div class="blog-actions">
                                <span class="blog-actionItem blog-actionLikeBtn @BlogHelper.IsLiked(blogItem.id)" data-blog-id="@blogItem.id">
                                    <i class="fa-solid fa-heart"></i>
                                </span>
                            </div>
                        </div>
                        <div class="blog-body">
                            <div class="row">
                                <div class="col-xl-8">
                                    <a class="blog-title" href="/Blog/Detail?blogId=@blogItem.id">
                                        @blogItem.title
                                    </a>
                                    <p class="blog-summary">
                                        @blogItem.summary
                                    </p>
                                    <p class="blog-postTime">
                                        @DateTimeHelper.TimeAgo(blogItem.created_at)
                                    </p>
                                    <div class="blog-interacts">
                                        <span class="blog-likes">
                                            <i class="fa-regular fa-heart"></i>
                                            <span id="blog-likeCount-@blogItem.id">
                                                @blogItem.like_count
                                            </span>
                                        </span>
                                        <span class="blog-comments">
                                            <i class="fa-regular fa-comment"></i>
                                            @blogItem.comment_count
                                        </span>
                                    </div>
                                </div>
                                <div class="col-xl-4">
                                    <img class="blog-img" src="/Uploads/@blogItem.thumbnail" alt="Hinh anh blog" />
                                </div>
                            </div>
                        </div>
                    </div>
                }

                <div class="blog-pagination">
                    <a href="/Home/Index?page=@prevPage" class="blog-paginationPrevBtn blog-paginationBtn @isPrevDisabled">
                        <i class="fa-solid fa-angle-left"></i>
                    </a>

                    <span class="blog-pageNumber">
                        @currentPage
                    </span>

                    <a href="/Home/Index?page=@nextPage" class="blog-paginationNextBtn blog-paginationBtn @isNextDisabled">
                        <i class="fa-solid fa-chevron-right"></i>
                    </a>
                </div>
            </div>

            <div class="col-xl-3">
                <div class="subcontent">
                    <div class="subcontentItem">
                        <h3 class="subcontent-heading">
                            <i class="fa-solid fa-medal"></i>
                            Top Bloggers
                        </h3>
                        @foreach(var topUserItem in ViewBag.topUsers)
                        {
                            <a class="subcontent-user" href="/User/Info?userId=@topUserItem.id">
                                <img class="subcontent-userAvatar" src="/Uploads/@topUserItem.avatar" alt="User avatar" />
                                <span class="subcontent-userName">
                                    @topUserItem.last_name @topUserItem.first_name
                                </span>
                                @if (topUserItem.blue_tick)
                                {
                                    <span class="subcontent-userBlueCheck">
                                        <i class="fa-solid fa-circle-check"></i>
                                    </span>
                                }
                            </a>
                        }
                    </div>
                    <div class="subcontentItem">
                        <h3 class="subcontent-heading">
                            <i class="fa-solid fa-bullhorn"></i>
                            Ads
                        </h3>
                        <a target="_blank" class="subcontent-adsLink" href="https://son-knownpain.github.io/carvan/">
                            <p class="subcontent-adsText">CARVAN - Cars Store</p>
                            <img class="subcontent-adsImg" src="https://son-knownpain.github.io/carvan/asset/img/logo/carvan-logo.jpg" alt="ads img" />
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            $(".blog-actionLikeBtn").click(function (e) {
                if ($(this).hasClass("liked")) {
                    fetch('/Blog/Unlike?blogId=' + $(this).data("blog-id"))
                        .then(res => res.json())
                        .then(data => {
                            if (data.unliked) {
                                const prevLikeCount = $("#blog-likeCount-" + $(this).data("blog-id")).text();
                                $("#blog-likeCount-" + $(this).data("blog-id")).text(parseInt(prevLikeCount) - 1);
                                $(this).removeClass('liked')
                            } else {
                                if (data.toast) {
                                    toast({ ...data.toast })
                                }
                            }
                        })
                } else {
                    fetch('/Blog/Like?blogId=' + $(this).data("blog-id"))
                        .then(res => res.json())
                        .then(data => {
                            if (data.liked) {
                                const prevLikeCount = $("#blog-likeCount-" + $(this).data("blog-id")).text();
                                $("#blog-likeCount-" + $(this).data("blog-id")).text(parseInt(prevLikeCount) + 1);
                                $(this).addClass('liked')
                            } else {
                                if (data.toast) {
                                    toast({ ...data.toast })
                                }
                            }
                        })
                }
            });
        });
    </script>
}