@model NOSBlog.Models.user
@{
    ViewBag.Title = "NOS Blog - Login";
}

@section styles {
    <link rel="stylesheet" href="~/Content/Css/Pages/Login.css" />
}

@if (TempData.ContainsKey("Register"))
{
    @section toast {
        <script>
            toast({
                title: 'Successfully register new account',
                message: '@TempData["Register"].ToString()',
                type: 'success'
            })
        </script>
    }
}

<div class="container">
    <h1 class="page-heading">
        <i class="fa-solid fa-right-to-bracket"></i>
        Login
    </h1>

    <p class="page-description">
        Please enter username and password to authenticate the user. If you don't have an account, <a href="/user/register">register here</a>.
    </p>

    <div class="content-body">
        @using (Html.BeginForm("Check", "User", FormMethod.Post, new { @id = "login-form" }))
        {
            <div class="form-item">
                @Html.LabelFor(user => user.username, new { @class = "form-label" })
                @Html.EditorFor(user => user.username, new { htmlAttributes = new { @class = "form-input", placeHolder = "Enter username" } })
                @Html.ValidationMessageFor(user => user.username, null, new { @class = "form-invalidMessage" })
            </div>
            <div class="form-item">
                @Html.LabelFor(user => user.password, new { @class = "form-label" })
                @Html.PasswordFor(user => user.password, new { @class = "form-input", placeHolder = "Enter password" })
                @Html.ValidationMessageFor(user => user.password, null, new { @class = "form-invalidMessage" })
            </div>
            <button class="form-submitBtn">
                Login
            </button>
        }
    </div>
</div>