@model NOSBlog.Models.user
@{
    ViewBag.Title = "NOS Blog - Register";
}

@section styles {
    <link rel="stylesheet" href="~/Content/Css/Pages/Register.css" />
}

<div class="container">
    <h1 class="page-heading">
        <i class="fa-solid fa-user-plus"></i>
        Register
    </h1>

    <p class="page-description">
        Please enter all necessary information to create a new account. If you already have an account, please <a href="/user/login">login here</a>.
    </p>

    <div class="content-body">
        <!-- Register Form HTML5 -->
        <!--
        <form id="login-form">
            <div class="form-item">
                <label class="form-label" for="">
                    First name
                </label>
                <input name="first_name" class="form-input" type="text" placeholder="Enter first name..." />
            </div>

            <div class="form-item">
                <label class="form-label" for="">
                    Last name
                </label>
                <input name="last_name" class="form-input" type="text" placeholder="Enter last name..." />
            </div>

            <div class="form-item">
                <label class="form-label" for="">
                    Username
                </label>
                <input name="user_name" class="form-input" type="text" placeholder="Enter username..." />
            </div>

            <div class="form-item">
                <label class="form-label" for="">
                    Email
                </label>
                <input name="email" class="form-input" type="text" placeholder="Enter email..." />
            </div>

            <div class="form-item">
                <label class="form-label" for="">
                    Phone
                </label>
                <input name="phone" class="form-input" type="text" placeholder="Enter phone..." />
            </div>

            <div class="form-item">
                <label class="form-label" for="">
                    Password
                </label>
                <input name="password" class="form-input" type="password" placeholder="Enter password..." />
            </div>

            <button class="form-submitBtn">
                Register
            </button>
        </form>
        -->
        <!-- Register Form Using ASP.NET MVC 5 Helpers -->
        @using (Html.BeginForm("Store", "User", FormMethod.Post, new { @id = "login-form" }))
        {
            <div class="form-item">
                @Html.LabelFor(user => user.first_name, new { @class = "form-label" })
                @Html.EditorFor(user => user.first_name, new { htmlAttributes = new { @class = "form-input", @placeHolder = "Enter first name" } })
                @Html.ValidationMessageFor(user => user.first_name, null, new { @class = "form-invalidMessage" })
            </div>

            <div class="form-item">
                @Html.LabelFor(user => user.last_name, new { @class = "form-label" })
                @Html.EditorFor(user => user.last_name, new { htmlAttributes = new { @class = "form-input", @placeHolder = "Enter last name" } })
                @Html.ValidationMessageFor(user => user.last_name, null, new { @class = "form-invalidMessage" })
            </div>

            <div class="form-item">
                @Html.LabelFor(user => user.username, new { @class = "form-label" })
                @Html.EditorFor(user => user.username, new { htmlAttributes = new { @class = "form-input", @placeHolder = "Enter username" } })
                @Html.ValidationMessageFor(user => user.username, null, new { @class = "form-invalidMessage" })
            </div>

            <div class="form-item">
                @Html.LabelFor(user => user.email, new { @class = "form-label" })
                @Html.EditorFor(user => user.email, new { htmlAttributes = new { @class = "form-input", @placeHolder = "Enter email" } })
                @Html.ValidationMessageFor(user => user.email, null, new { @class = "form-invalidMessage" })
            </div>

            <div class="form-item">
                @Html.LabelFor(user => user.phone, new { @class = "form-label" })
                @Html.EditorFor(user => user.phone, new { htmlAttributes = new { @class = "form-input", @placeHolder = "Enter phone" } })
                @Html.ValidationMessageFor(user => user.phone, null, new { @class = "form-invalidMessage" })
            </div>

            <div class="form-item">
                @Html.LabelFor(user => user.password, new { @class = "form-label" })
                @Html.PasswordFor(user => user.password, new { @class = "form-input", placeHolder = "Enter password" })
                @Html.ValidationMessageFor(user => user.password, null, new { @class = "form-invalidMessage" })
            </div>

            <button class="form-submitBtn">
                Register
            </button>
        }
    </div>
</div>
